In [1]:
import psycopg2             # python->psql connection
import psycopg2.extras
import pandas as pd         # create dataframes 
from config import config

# Get the config params
params_ = config()
# Connect to the Postgres_DB:
conn = psycopg2.connect(**params_)
# Create new_cursor allowing us to write Python to execute PSQL:
cur = conn.cursor()
conn.autocommit = True

In [5]:
car_dlr_one=pd.read_csv('data/cardealer_add_deduct_list.csv')
car_dlr_two=pd.read_csv('data/car_dealer_firstpart.csv')

car_dlr_one.head()

,idx,vin,model_number_list,add_deduct_list.uoc,add_deduct_list.name,add_deduct_list.xclean,add_deduct_list.clean,add_deduct_list.avg,add_deduct_list.rough,add_deduct_list.auto,add_deduct_list.resid12,add_deduct_list.resid24,add_deduct_list.resid30,add_deduct_list.resid36,add_deduct_list.resid42,add_deduct_list.resid48,add_deduct_list.resid60,add_deduct_list.resid72
0,0,102280487,['B2522'],8C,18-Inch Wheels,350,350,350,350,N,300,250,225,200,175,150,100,50
1,0,102280487,['B2522'],W2,Primo Pkg,1600,1600,1600,1600,N,1500,1400,1350,1300,1250,1200,1100,1000
2,1,102298407,['1ZD69'],8C,18-Inch Wheels,225,225,225,225,N,200,175,150,150,125,125,100,100
3,1,102298407,['1ZD69'],N5,Navigation System,500,500,500,500,N,450,400,375,350,325,300,250,200
4,1,102298407,['1ZD69'],12,Sunroof,600,600,600,600,N,550,500,475,450,425,400,350,300